<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EME - Smoke Testing">
    <listeners>
		<listener class-name = "EME.listeners"/>
	<!--listener class-name = "resources.ExtentReporterNG"/-->
	</listeners> 
  <test thread-count="5" name="Login Page Test">
    <classes>
      <class name="EME.loginPageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Member Login">
    <classes>
      <class name="EME.MemberLoginTest"/>
    </classes>
  </test>
    <test thread-count="5" name="Page Launch">
    <classes>
      <class name="EME.PageLaunchTest"/>
    </classes>
  </test> 
  <!-- test thread-count="5" name="Make Payment">
    <classes>
      <class name="EME.MakePaymentTest"/>
    </classes>
  </test--> 
  < test thread-count="5" name="Make Appointment">
    <classes>
      <class name="EME.MakeApptTest"/>
    </classes>
  </test> 
    <!-- test thread-count="5" name="Schedule Class">
    <classes>
      <class name="EME.ScheduleClassTest"/>
    </classes>
  </test--> 
      <!-- test thread-count="5" name="Schedule Course">
    <classes>
      <class name="EME.ScheduleCourseTest"/>
    </classes>
  </test-->
        <!-- test thread-count="5" name="Make Group Appointment">
    <classes>
      <class name="EME.MakeGroupApptTest"/>
    </classes>
  </test-->
</suite>
