<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EME - Automated Testing">
	<listeners>
		<listener class-name="EME.listeners" />
		<!--listener class-name = "resources.ExtentReporterNG"/ -->
	</listeners>
	<test thread-count="5" name="EME - E2E Testing">
		<classes>
			<!--class name="EME.loginPageTest" />
			<class name="EME.MemberLoginTest" />
			<class name="EME.PageLaunchTest" />
			<class name="EME.DashBoard_Layout" /> 
			<class name="EME.DashBoard_Menu" />
			<class name="EME.MakePaymentTest" />
			<class name="ShopPackages.ShopAndPurchasePackages" />
			<class name="SingleMemberClasses.EnrollWithSingleClassFeeTest" />
			<class name="SingleMemberClasses.EnrollInFreeClassTest" />
			<class name="SingleMemberClasses.EnrollClassByBuyingPackage" />
			<class name="SingleMemberClasses.EnrollInClass_CancelTransaction" />
			<class name="SingleMemberClasses.EnrollClass_ClubSettings" />
			<class name="SingleMemberCourses.EnrollWithSingleCourseFeeTest" />
			<class name="SingleMemberCourses.EnrollInFreeCourseTest" />
			<class name="SingleMemberCourses.EnrollCourseByBuyingPackage" />
			<class name="SingleMemberCourses.EnrollInCourse_CancelTransaction" />
			<class name="SingleMemberCourses.EnrollCourse_ClubSettings" /-->
			<class name="FamilyMemberClasses.EnrollClassMemberAndItemRestrictions" />
			<class name="FamilyMemberCourses.EnrollCourseMemberAndItemRestrictions" />
			<class name="FamilyMemberClasses.FamilyClassEnrollmentUIValidations" />
			<class name="FamilyMemberCourses.FamilyCourseEnrollmentUIValidations" />
			<class name="FamilyMemberClasses.FamilyMemberEnrollmentInFreeClass" />
			<class name="FamilyMemberCourses.FamilyMemberEnrollmentInFreeCourse" />
			<class name="FamilyMemberClasses.FamilyMemberClassEnrollment" />
			<class name="FamilyMemberClasses.FamilyMemberClassEnrollment2" />
			<class name="FamilyMemberCourses.FamilyMemberCourseEnrollment" />
			<class name="FamilyMemberCourses.FamilyMemberCourseEnrollment2" />
			<!--class name="SingleMemberAppointments.ClubNotReqPackages_BookAppt_ResourceNotSelected"/>
			<class name="SingleMemberAppointments.ClubNotReqPackages_BookAppt_ThreeResources"/>
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_CancelTransaction" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_MultiResourcesNotSelected" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_MultiResourcesPartiallySelected" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_MultiResourcesSelected" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_NonMSS" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_SingleResource_NotSelected" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_SingleResource_Selected" />
			<class name="SingleMemberAppointments.ClubReqPackages_BookAppt_FreeAppointment" />
			<class name="SingleMemberAppointments.CancelApptWithFee_NewCard" />
			<class name="SingleMemberAppointments.CancelApptWithFee_OnAccount" />
			<class name="SingleMemberAppointments.CancelApptWithFee_SavedCard" />
			<class name="SingleMemberAppointments.CancelApptWithFee_cancelTransaction" />
			<class name="GroupAppointments.ClubNotReqPackages_GrpAppt_ResourceNotSelected" />
			<class name="GroupAppointments.ClubNotReqPackages_GrpAppt_ThreeResources" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_CancelTransaction" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_FreeAppointment" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_MultiResourcesNotSelected" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_MultiResourcesPartiallySelected" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_MultiResourcesSelected" />
			<class name="GroupAppointments.ClubReqPackages_GrpAppt_NonMSS" />
			<class name="GroupAppointments.CancelGrpApptWithFee_NewCard" />
			<class name="GroupAppointments.CancelGrpApptWithFee_OnAccount" />
			<class name="GroupAppointments.CancelGrpApptWithFee_SavedCard" />
			<class name="GroupAppointments.CancelGrpApptWithFee_cancelTransaction" />
			<class name="GroupAppointments.CanNotCancelApptAsGroupMember" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_CancelTransaction" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubNotReqPackages_AdditionalResources" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubNotReqPackages_NewCard" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubNotReqPackages_OnAccount" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubNotReqPackages_SavedCard" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubReqPackages_AdditionalResources"/>
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubReqPackages_NewCard" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubReqPackages_OnAccount" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubReqPackages_SavedCard" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_MemberHasPackages_AdditionalResources" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_MemberHasPackages_NewCard" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_MemberHasPackages_OnAccount" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_MemberHasPackages_SavedCard" />
			<class name="SingleMemberAppointments.ChangeApptWithOutFee_ClubNotReqPackages" />
			<class name="SingleMemberAppointments.ChangeApptWithOutFee_ClubReqPackages" />
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubNotReqPackages_ToGrpAppt"/>
			<class name="SingleMemberAppointments.ChangeApptWithFee_ClubReqPackages_ToGrpAppt"/>
			<class name="SingleMemberAppointments.ChangeApptWithFee_MemberHasPackages_ToGrpAppt"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_CancelTransaction"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubNotReqPackages_AdditionalResources" />
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubNotReqPackages_NewCard" />
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubNotReqPackages_OnAccount" />
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubNotReqPackages_SavedCard" />
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubNotReqPackages_ToSingleMbrAppt"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubReqPackages_AdditionalResources"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubReqPackages_NewCard"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubReqPackages_OnAccount"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubReqPackages_SavedCard"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_ClubReqPackages_ToSingleMbrAppt"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_MemberHasPackages_AdditionalResources"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_MemberHasPackages_NewCard"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_MemberHasPackages_OnAccount"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_MemberHasPackages_SavedCard"/>
			<class name="GroupAppointments.ChangeGrpApptWithFee_MemberHasPackages_ToSingleMbrAppt"/>
			<class name="GroupAppointments.ChangeGrpApptWithOutFee_ClubNotReqPackages"/>
			<class name="GroupAppointments.ChangeGrpApptWithOutFee_ClubReqPackages"/>
			<class name="EME.EmailConfirmations"/-->
		</classes>
	</test>
</suite>